body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #181a1ffd;
}

/* haz un grip de la pantilla */
.cards {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    grid-auto-rows: minmax(100px, auto);
}

.card1 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 210px 80px;
    grid-template-areas: "image" "text" "button";
    column-gap: 1rem;
    grid-column: 1;
    grid-row: 1;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card1-image {
    grid-area: image;
    background-image: url('./assets/contaminación-del-aire.jpg');
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: cover;
}

.card1-text {
    grid-area: text;
    margin: 25px;
}

.card1-text .type {
    color: rgb(red, green, blue);
    font-size: 15px;
}

.card1-text h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;
}


.card1-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}


.card1-button {
    grid-area: button; 
    display: grid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(131, 123, 126);
}

.card1-button button {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.card1:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}


/* card2 */

.card2 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 210px 80px;
    grid-template-areas: "image" "text" "button";
    column-gap: 1rem;
    grid-column: 2;
    grid-row: 1;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card2-image {
    grid-area: image;
    background-image: url('./assets/suelo_746x419.jpg');
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: cover;
}

.card2-text {
    grid-area: text;
    margin: 25px;
}

.card2-text .type {
    color: rgb(red, green, blue);
    font-size: 15px;
}

.card2-text h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;
}

.card2-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}


.card2-button {
    grid-area: button; 
    display: grid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(131, 123, 126);
}

.card2-button button {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.card2:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}

/* card 3 */

.card3 {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 200px 210px 80px;
    grid-template-areas: "image" "text" "button";
    column-gap: 1rem;
    grid-column: 3;
    grid-row: 1;

    font-family: roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 0.9);
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card3-image {
    grid-area: image;
    background-image: url('./assets/Noticia-contaminación-agua-consecuencias-soluciones.jpg');
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: cover;
}

.card3-text {
    grid-area: text;
    margin: 25px;
}

.card3-text .type {
    color: rgb(red, green, blue);
    font-size: 15px;
}

.card3-text h2 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;
}

.card3-text p{
    color: grey;
    font-size: 15px;
    font-weight: 300;
}


.card3-button {
    grid-area: button; 
    display: grid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(131, 123, 126);
}

.card3-button button {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.card3:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
}